
.nameofsite {
        background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
      }
.solid{
text-align:center;
font-size:60px
}
body {
	background-image:url("splash.jpg")	
}
